.details{
	justify-content: center;
	padding: 5%;
	min-width: 100%;
	&__card{
		border-radius: 20px;
		border: 20px solid $yellow !important;
		background: $green;
	}
	&__img{
		border-radius: 20px;
		filter: grayscale(0.1);
		padding: 3%;
	}
	&__button{
		border: 10px solid $yellow !important;
		margin-bottom: 2%;
		color: $purple;
		letter-spacing: 1px;
		
	}
	&__button:hover{
		color: $green !important;
		background: $purple !important;
		font-family: $primary !important;
		transition: 2s;
	}
	
}