nav{
	min-height: 200px;
	background: repeating-linear-gradient(
		45deg,
		$green 50px,
		$yellow 330px
	);
	font-size: 30px;
	

button{
	border: 6px solid $purple !important;
	border-radius: 10px !important;
	padding: 10px;
	background: $yellow !important;
}
.nav__item{
	color: $purple !important;
	border: 10px solid $purple !important;
	margin: 2px;
	border-radius: 20px;

	&--link{
		border: 5px solid $purple !important;
		margin: 10px;
		border-radius: 20px;
		padding: 10px;
		min-width: 150px;
	}
	
	&__link{
	
	color: $purple !important;
	text-shadow:
		1px 1px 0 $green,
		1px -1px 0 $green,
		-1px 1px 0 $green,
		-1px -1px 0 $green;
	
	}
	&--active{
		background: $yellow;
		border-radius: 20px;	
	}
	
	
	
}
}
